<p-card>
    <p-table [value]="lstProcesos" #dt1 selectionMode="single" dataKey="id" [tableStyle]="{ 'min-width': '75rem' }"
        [rows]="10" [paginator]="true" [scrollable]="true" scrollHeight="450px">

        <ng-template #header pTemplate="header">
            <tr>
                <th pSortableColumn="cliente.nombre" style="min-width:250px">Cliente <p-sortIcon field="cliente.nombre" /></th>
                <th pSortableColumn="nombre" style="min-width:250px">Nombres <p-sortIcon field="nombre" /></th>
                <th pSortableColumn="apellido" style="min-width:250px">Apellidos <p-sortIcon field="apellido" /></th>
                <th pSortableColumn="identificacion" style="min-width:250px">Identificacion <p-sortIcon field="identificacion" />
                </th>
                <th pSortableColumn="documentoMaestro.nombre" style="min-width:250px">Proceso <p-sortIcon
                        field="documentoMaestro.nombre" /></th>
                <th pSortableColumn="ciudadMunicipio.departamento.nombre" style="min-width:250px">Departamento
                    <p-sortIcon field="ciudadMunicipio.departamento.nombre" />
                </th>
                <th pSortableColumn="ciudadMunicipio.nombre" style="min-width:250px">Municipio <p-sortIcon
                        field="ciudadMunicipio.nombre" />
                </th>
                <th pSortableColumn="direccion" style="min-width:250px">Direccion <p-sortIcon field="direccion" />
                </th>
                <th pSortableColumn="telefono" style="min-width:250px">Telefono <p-sortIcon field="telefono" /></th>
                <th pSortableColumn="fechaSolicitud" style="min-width:250px">Fecha Solicitud <p-sortIcon
                        field="fechaSolicitud" /></th>
                <th style="min-width:125px">Actualizar </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-proceso>
            <tr>
                <td>{{proceso.cliente?.nombre}}</td>
                <td>{{proceso.nombre}}</td>
                <td>{{proceso.apellido}}</td>
                <td>{{proceso.identificacion}}</td>
                <td>{{proceso.documentoMaestro.nombre}}</td>
                <td>{{proceso.ciudadMunicipio?.departamento?.nombre }}</td>
                <td>{{proceso.ciudadMunicipio?.nombre }}</td>
                <td>{{proceso.direccion }}</td>
                <td>{{proceso.telefono }}</td>
                <td>{{proceso.fechaSolicitud}}</td>
                <td>
                    <p-button icon="pi pi-cloud-upload"></p-button>
                </td>
            </tr>

        </ng-template>

    </p-table>

</p-card>