<h2>Listado de empleados</h2>
<!-- <p-toast position="top-right"></p-toast> -->

<div class="table-header">

    <p-button label="Crear empleado" icon="pi pi-plus" (click)="openFormCreateDialog()">
    </p-button>

    <div class="search-container">

        <input type="text" pInputText [formControl]="searchControl" placeholder="Buscar empleado..." />

        <p-button icon="pi pi-search" (click)="buscar()">
        </p-button>

        <p-button icon="pi pi-filter-slash" severity="secondary" (click)="limpiar()">
        </p-button>
    </div>


</div>

<app-empleado-table [empleados]="empleados" (create)="openFormCreateDialog()" (edit)="openFormEditDialog($event)">
</app-empleado-table>

<p-dialog [header]="isEditMode ? 'Editar empleado' : 'Crear empleado'" [(visible)]="displayFormDialog" [modal]="true"
    [style]="{ width: '50vw', maxWidth: '900px' }" [breakpoints]="{
        '1200px': '60vw',
        '960px': '75vw',
        '640px': '95vw'}">
    <app-empleado-form-dialog [empleado]="selectedEmpleado" [isEditMode]="isEditMode" (saved)="onEmpleadoSaved()">
    </app-empleado-form-dialog>

</p-dialog>