<form [formGroup]="formGroupConfiabilidadUpdate" class="fluid" (ngSubmit)="saveProcesoConfiabilidad()">
    <div class="grid">

        <div class="col-12">
            <p-card *ngIf="proceso">
                <div class="proceso-grid">

                    <div class="col-12 md:col-12">
                        <div class="info-box">
                            <i class="pi pi-user info-icon"></i>

                            <div class="info-content">
                                <span class="info-label">Nombre</span>
                                <span class="info-value">
                                    {{ proceso.nombre }} {{ proceso.apellido }}
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 md:col-12">
                        <div class="info-box">
                            <i class="pi pi-id-card info-icon"></i>

                            <div class="info-content">
                                <span class="info-label">Identificación</span>
                                <span class="info-value">
                                    {{ proceso.identificacion }}
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 md:col-12">
                        <div class="info-box">
                            <i class="pi pi-briefcase info-icon"></i>

                            <div class="info-content">
                                <span class="info-label">Proceso</span>
                                <span class="info-value">
                                    {{ proceso.documentoMaestro.nombre }}
                                </span>
                            </div>
                        </div>
                    </div>

                </div>
            </p-card>
        </div>


        <div class="col-12 md:col-5">
            <p-select class="w-full" placeholder="Concepto" [showClear]="true" appendTo="body" optionLabel="nombre"
                optionValue="id" [options]="lstConceptos" formControlName="concepto">
            </p-select>
        </div>

        <div class="col-12 md:col-7">
            <p-select class="w-full" placeholder="Profesional confiabilidad" [showClear]="true" appendTo="body"
                optionLabel="nombreProfesional" optionValue="id" [options]="lstProfesionalConfiabilidad"
                formControlName="profesional">
            </p-select>
        </div>

        <div class="col-12 md:col-6 flex justify-content-left">
            <p-fileupload #fu mode="basic" chooseLabel="Selecionar PDF" chooseIcon="pi pi-upload"
                accept="application/pdf" name="demo[]" maxFileSize="5242880" (onSelect)="onFileSelect($event)" />
            <!--  -->
        </div>


        <div class="col-12 card flex justify-center">
            <textarea rows="10" cols="120" pTextarea class="ng-invalid ng-dirty" placeholder="Ampliacion"
                style="resize: none;" formControlName="ampliacion"></textarea>
        </div>

        <!-- Botón -->
        <div class="col-12 flex justify-content-center">
            <p-button label="Actualizar proceso" icon="pi pi-check" iconPos="right" type="submit" [disabled]="formGroupConfiabilidadUpdate.invalid">
                <!--  -->
            </p-button>
        </div>

    </div>
</form>